<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header>
        <a href="/">Home</a>
        <a href="AllCountries">All Countries</a>
        <a href="MyRecords">My Records</a>
    </header>
    <main>
        <h1>Country:<%=data.totalrecovered %>
        </h1>
        <p>totalconfirmed: <%=data.totalconfirmed %>
        </p>
        <p>totaldeaths: <%=data.totaldeaths %>
        </p>
        <p>totalrecovered: <%=data.totalrecovered %>
        </p>
        <p>date: <%=data.date %>
        </p>
        <form action="/delete/<%=data.id %>?_method=delete " method="post">
            <button type="submit">Delete</button>
        </form>
    </main>
    <footer></footer>
</body>

</html>